extends layout

block content
  h1 Permanent Majority
  p.
    Social media has changed politics. Binaries in politics as we think we know them no longer exist, and traditional understanding of political parties and therefore their ideas is also now a relic of the past. People have nuanced, specific opinions about politics, and the two camps rarely satisfy the majority. Therefore, we need to tailor how we understand politics to a system that makes specific opinions the general, and gives everyone an equal platform to share with decision makers their views on the world. Otherwise, binary polls and the policies that are informed by them will continue to dissatisfy the public, and governance will become more difficult. We must change how we poll the people, in order to change the policies that change their lives.
  hr
  .row
    .col-sm-6
      h2 Use phone technology features
      p Our call / messaging features include automatic SMS analysis, automatic calling, and call transcription. 
      p
        a.btn.btn-default(href='/api/twilio', role='button') Go to call center to make a call »
    .col-sm-6
      h2 Data analysis
      p All calls and messages are automatically stored and indexed in our cloud database for rapid retrieval.
      p
        a.btn.btn-default(href='#', role='button') Go to data center »
    .col-sm-6
      h2 Sentiment analysis [coming soon]
      p We use state of the art machine learning to collect sentiment information on all outgoing and incoming conversations. (This data is presented in a clear format using interactive graphs.)
      p
        a.btn.btn-default(href='#', role='button') Go to sentiment analyis »
