block content
  h1 Secure Login
  p.
    Enter Passphrase
  hr
  .row
    .col-sm-6
      form(role='form', method='POST')
        .form-group
          input.form-control(type='password', id='passphrase', name='passphrase', autofocus)
