extends ../layout

block content
  .page-header
    h2
      i.fa.fa-phone(style='color: #f00')
      | Call Center
    //-
      .btn-group.btn-group-justified
        a.btn.btn-primary(href='http://twilio.github.io/twilio-node/', target='_blank')
          i.fa.fa-check-square-o
          | Make a call
        a.btn.btn-primary(href='https://apigee.com/console/twilio', target='_blank')
          i.fa.fa-laptop
          | Send a message

  br

  .row
    .col-sm-6
      form(role='form', method='POST')
        h1= _csrf
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label Number to connect to
          br
          input.form-control(type='text', id='number', name='number', 
            placeholder='(415) 966-6732', autofocus)
        // if call_center.make_a_call
        button.btn.btn-default(type='submit', name='action', value='call')
          i.fa.fa-location-arrow
          | Initiate call
        // else 
        .form-group
          label.control-label Message
          input.form-control(type='text', name='message')
        button.btn.btn-default(type='submit', name='action', value='message')
          i.fa.fa-location-arrow
          | Send Message 